/**
 * This file is part of Timescape developed by Wolf Maul and Semandra Inc. 
 * 2014-15 - http://semandra.com.
 * 
 * Timescape is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Timescape is distributed in the hope that it will be useful,
 * but without any warranty. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Timescape.  If not, see <http://www.gnu.org/licenses/>.
*/

/* ------------------------ default classes for timeline events   ------------------------------- */
.timeline-small-event-tape {
	background-color: #205092;
}
.timeline-event-tape.tapeLayer0, .timeline-event-tape.tapeLayer1 {
	background-color: #A1C0EA;
	border-radius: 5px;
	border-width: 5px;
	border-left: solid 5px #A1C0EA;
	border-right: solid 5px #A1C0EA;
}
.timeline-event-tape.tapeLayer0.startKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #A1C0EA;
	border-radius: 5px;
}
.timeline-event-tape.tapeLayer0.startKnown.endKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #205092;
}
.timeline-event-tape.tapeLayer0.endKnown {
	border-right: solid 5px #205092;
	border-left: solid 5px #A1C0EA;
}
.timeline-event-tape.tapeLayer0.between, .timeline-event-tape.tapeLayer1.between {
	background-color: #A1C0EA;
	background: radial-gradient(#A1C0EA 0px, #A1C0EA 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%) 0px 0px;	
	background-size: 10px 10px;
	background-position: 0 0;
	border-radius: 5px;
	border-left: solid 5px #A1C0EA;
	border-right: solid 5px #A1C0EA;
}
.timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #A1C0EA;
}
.timeline-event-tape.tapeLayer0.singleDateEvent.between.endKnown {
	border-right: solid 5px #205092;
	border-left: solid 5px #A1C0EA;
}
.timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.endKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #205092;
}


/* ------------------------ custom classes for Digital Page   ------------------------------- */

#NavText a {
	padding: 10px 20px;
}
/* TODO --- remove the need to hide the icons*/
#Timescape_timeline .timeline-event-icon img{
	visibility: hidden;
}

/*#Timescape_timeline .timeline-event-tape, .timeline-small-event-tape, .timeline-small-event-icon  {
    background-color: #fff;
}

#Timescape_timeline .timeline-small-event-tape {
	background-color: #205092;
}

#Timescape_timeline .timeline-event-tape.tapeLayer0, #Timescape_timeline .timeline-event-tape.tapeLayer1  {
	background-color: #205092;
	background-image: -webkit-linear-gradient(270deg,rgba(32,80,146,0.40) 0%,rgba(32,80,146,0.40) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(32,80,146,0.40) 0%,rgba(32,80,146,0.40) 100%);
	background-image: -o-linear-gradient(270deg,rgba(32,80,146,0.40) 0%,rgba(32,80,146,0.40) 100%);
	background-image: linear-gradient(180deg,rgba(32,80,146,0.40) 0%,rgba(32,80,146,0.40) 100%);
	border-radius: 5px;
	border-width: 5px;
}

#Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown {
	border-left: solid 5px #205092;
	border-right: none;
	border-radius: 5px;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.startKnown.endKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #205092;
}
#Timescape_timeline .timeline-event-tape.tapeLayer1.endKnown  {
	border-right: solid 5px #205092 ;
	border-left: none;
}*/

/*  Single Event - from a date to a date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between  {
	background-image: url(images/dp-blue-bg.png);
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown  {
	border-left: solid 5px #205092 ;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.endKnown  {
	border-right: solid 5px #205092 ;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.endKnown  {
	border-left: solid 5px #205092 ;
	border-right: solid 5px #205092 ;
}*/

/*  Single Event - single date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent  {

}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown  {
	border-left: solid 4px #205092 ;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.endKnown  {
	border-right: solid 4px #205092 ;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.endKnown, #Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.endKnown {
	border-left: solid 4px #205092 ;
	border-right: solid 4px #205092 ;
}
*/


/*  --------------------  Writing Event     ------------------------------------- */

/*#Timescape_timeline .timeline-event-tape.tapeLayer0.writing_event , #Timescape_timeline .timeline-event-tape.tapeLayer1.writing_event   {
	background-image: -webkit-linear-gradient(270deg,rgba(0,146,0,0.4) 0%,rgba(0,146,0,0.6) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,146,0,0.4) 0%,rgba(0,146,0,0.6) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,146,0,0.4) 0%,rgba(0,146,0,0.6) 100%);
	background-image: linear-gradient(180deg,rgba(0,146,0,0.4) 0%,rgba(0,146,0,0.6) 100%);
	border-radius: 5px;
	border-width: 5px;
}

#Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.writing_event {
	border-left: 5px solid #009200;
	border-right: none;
	border-radius: 5px;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.startKnown.endKnown.writing_event {
	border-left: solid 5px #009200;
	border-right: solid 5px #009200;
}
#Timescape_timeline .timeline-event-tape.tapeLayer1.endKnown.writing_event  {
	border-right: solid 5px #009200 ;
	border-left: none;
}

#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.writing_event  {
	background-image: url(images/dp-lightgreen-bg.png);
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.writing_event  {
	border-left: solid 5px #009200 ;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.endKnown.writing_event  {
	border-right: solid 5px #009200 ;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.endKnown.writing_event  {
	border-left: solid 5px #009200 ;
	border-right: solid 5px #009200 ;
}

#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.writing_event  {

}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.writing_event  {
	border-left: solid 4px #009200 ;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.endKnown.writing_event  {
	border-right: solid 4px #009200 ;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.endKnown.writing_event, #Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.endKnown.writing_event {  
	border-left: solid 4px #009200 ;
	border-right: solid 4px #009200 ;
}*/


/*  --------------------  Art Event - red    ------------------------------------- */

/*#Timescape_timeline .timeline-event-tape.tapeLayer0.art_event , #Timescape_timeline .timeline-event-tape.tapeLayer1.art_event   {
	background-color: #205092;
	background-image: -webkit-linear-gradient(270deg,rgba(164,4,4,0.4) 0%,rgba(164,4,4,0.4) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(164,4,4,0.4) 0%,rgba(164,4,4,0.4) 100%);
	background-image: -o-linear-gradient(270deg,rgba(164,4,4,0.4) 0%,rgba(164,4,4,0.4) 100%);
	background-image: linear-gradient(180deg,rgba(164,4,4,0.4) 0%,rgba(164,4,4,0.4) 100%);
	border-radius: 5px;
	border-width: 5px;
}

#Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.art_event {
	border-left: solid 5px #A40404;
	border-right: none;
	border-radius: 5px;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.startKnown.endKnown.art_event {
	border-left: solid 5px #A40404;
	border-right: solid 5px #A40404;
}
#Timescape_timeline .timeline-event-tape.tapeLayer1.endKnown.art_event  {
	border-right: solid 5px #A40404 ;
	border-left: none;
}*/

/*  Single Event - from a date to a date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.art_event  {
	background-image: url(images/dp-red-bg.png);
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.art_event  {
	border-left: solid 5px #A40404 ;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.endKnown.art_event  {
	border-right: solid 5px #A40404 ;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.endKnown.art_event, #Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.endKnown.art_event {  
	border-left: solid 5px #A40404 ;
	border-right: solid 5px #A40404 ;
}
*/
/*  Single Event - single date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.art_event  {

}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.art_event  {
	border-left: solid 4px #A40404 ;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.endKnown.art_event  {
	border-right: solid 4px #A40404 ;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.endKnown.art_event  {
	border-left: solid 4px #A40404 ;
	border-right: solid 4px #A40404 ;
}
*/
/*  --------------------  Correspondence    ------------------------------------- */
/*  Range Event - from a date to a date */

/*#Timescape_timeline .timeline-event-tape.tapeLayer0.letter_event , #Timescape_timeline .timeline-event-tape.tapeLayer1.letter_event   {
	background-color: #205092;
	background-image: -webkit-linear-gradient(270deg,rgba(61,0,188,0.4) 0%,rgba(61,0,188,0.6) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(61,0,188,0.4) 0%,rgba(61,0,188,0.6) 100%);
	background-image: -o-linear-gradient(270deg,rgba(61,0,188,0.4) 0%,rgba(61,0,188,0.6) 100%);
	background-image: linear-gradient(180deg,rgba(61,0,188,0.4) 0%,rgba(61,0,188,0.6) 100%);
	border-radius: 5px;
	border-width: 5px;
}

#Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.letter_event {
	border-left: 5px solid #3D00BC;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.startKnown.endKnown.letter_event {
	border-left: solid 5px #3D00BC;
	border-right: solid 5px #3D00BC;
}

#Timescape_timeline .timeline-event-tape.tapeLayer1.endKnown.letter_event {
	border-right: solid 5px #3D00BC;
	border-left: none;
}*/

/*  Single Event - from a date to a date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.letter_event {
	background-image: url(images/dp-lightpurple-bg.png);
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.letter_event {
	border-left: solid 5px #3D00BC;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.endKnown.letter_event {
	border-right: solid 5px #3D00BC;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.endKnown.letter_event, #Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.endKnown.letter_event {
	border-left: solid 5px #3D00BC;
	border-right: solid 5px #3D00BC;
}*/

/*  Single Event - single date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.letter_event {

}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.letter_event {
	border-left: solid 4px #3D00BC;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.endKnown.letter_event {
	border-right: solid 4px #3D00BC;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.endKnown.letter_event {
	border-left: solid 4px #3D00BC;
	border-right: solid 4px #3D00BC;
}
*/
/*  --------------------  Life Event    ------------------------------------- */
/*  Range Event - from a date to a date */

/*#Timescape_timeline .timeline-event-tape.tapeLayer0.life_event , #Timescape_timeline .timeline-event-tape.tapeLayer1.life_event   {
	background-color: #205092;
	background-image: -webkit-linear-gradient(270deg,rgba(66,175,221,.4) 0%,rgba(66,175,221,0.62) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(66,175,221,.4) 0%,rgba(66,175,221,0.62) 100%);
	background-image: -o-linear-gradient(270deg,rgba(66,175,221,.4) 0%,rgba(66,175,221,0.62) 100%);
	background-image: linear-gradient(180deg,rgba(66,175,221,.4) 0%,rgba(66,175,221,0.62) 100%);
	border-radius: 5px;
	border-width: 5px;
}

#Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.life_event {
	border-left: 5px solid #1096CF;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.startKnown.endKnown.life_event {
	border-left: solid 5px #1096CF;
	border-right: 5px solid #1096CF;
}

#Timescape_timeline .timeline-event-tape.tapeLayer1.endKnown.life_event {
	border-right: solid 5px #1096CF;
	border-left: none;
}*/

/*  Single Event - from a date to a date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.life_event {
	background-image: url(images/dp-lightblue-bg.png);
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.life_event {
	border-left: solid 5px #1096CF;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.endKnown.life_event {
	border-right: solid 5px #1096CF;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.endKnown.life_event, #Timescape_timeline .timeline-event-tape.tapeLayer1.startKnown.endKnown.life_event {
	border-left: solid 5px #1096CF;
	border-right: solid 5px #1096CF;
}
*/
/*  Single Event - single date */
/*#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.life_event {

}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.life_event {
	border-left: solid 4px #1096CF;
	border-right: none;
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.endKnown.life_event {
	border-right: solid 4px #1096CF;
	border-left: none;	
}
#Timescape_timeline .timeline-event-tape.tapeLayer0.singleDateEvent.startKnown.endKnown.life_event {
	border-left: solid 4px #1096CF;
	border-right: solid 4px #1096CF;
}


.timeline-event-icon, .timeline-event-label, .timeline-event-tape {
    font-size: 13px;
}
*/

/* =====================    Bubble Display     ========================== */

.page-timeview div.simileAjax-bubble-container {
/*    margin-left: 5px;
    margin-top: -15px;*/
}


	
.timeline-event-bubble-title {
	/*display: none;*/
	font-size: 1.357em;
	border:inherit;
}
.page-timeview .timeline-event-bubble-time {
    color: #333;
	margin-top: 10px;
}





