/**
 * This file is part of Timescape developed by Wolf Maul and Semandra Inc. 
 * 2014-15 - http://semandra.com.
 * 
 * Timescape is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Timescape is distributed in the hope that it will be useful,
 * but without any warranty. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Timescape.  If not, see <http://www.gnu.org/licenses/>.
*/

#Timescape .timeline-copyright {
	z-index: 100;
}

/* ------------------------ default classes for timeline events   ------------------------------- */
#Timescape .timeline-small-event-tape {
	background-color: #205092;
}
#Timescape .timeline-event-tape.tapeLayer0, .timeline-event-tape.tapeLayer1 {
	background-color: #A1C0EA;
	border-radius: 5px;
	border-width: 5px;
	border-left: solid 5px #A1C0EA;
	border-right: solid 5px #A1C0EA;
}
#Timescape .timeline-event-tape.tapeLayer0.startKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #A1C0EA;
	border-radius: 5px;
}
#Timescape .timeline-event-tape.tapeLayer0.startKnown.endKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #205092;
}
#Timescape .timeline-event-tape.tapeLayer0.endKnown {
	border-right: solid 5px #205092;
	border-left: solid 5px #A1C0EA;
}
#Timescape .timeline-event-tape.tapeLayer0.between, .timeline-event-tape.tapeLayer1.between {
	background-color: #A1C0EA;
	background: radial-gradient(#A1C0EA 0px, #A1C0EA 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%) 0px 0px;	
	background-size: 10px 10px;
	background-position: 0 0;
	border-radius: 5px;
	border-left: solid 5px #A1C0EA;
	border-right: solid 5px #A1C0EA;
}
#Timescape .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #A1C0EA;
}
#Timescape .timeline-event-tape.tapeLayer0.singleDateEvent.between.endKnown {
	border-right: solid 5px #205092;
	border-left: solid 5px #A1C0EA;
}
#Timescape .timeline-event-tape.tapeLayer0.singleDateEvent.between.startKnown.endKnown {
	border-left: solid 5px #205092;
	border-right: solid 5px #205092;
}


/* ------------------------ custom classes for Digital Page   ------------------------------- */

#NavText a {
	padding: 10px 20px;
}
/* TODO --- remove the need to hide the icons*/
#Timescape_timeline .timeline-event-icon img{
	visibility: hidden;
}


/* =====================    Bubble Display     ========================== */

.page-timescape div.simileAjax-bubble-container {
/*    margin-left: 5px;
    margin-top: -15px;*/
}
	
.page-timescape .timeline-event-bubble-title {
	font-size: 1.357em;
	border:inherit;
}
.page-timescape .timeline-event-bubble-time {
    color: #333;
	margin-top: 10px;
}
.page-timescape .timeline-event-bubble-image {
	float: inherit;
}



/* Edit and Delete buttons */

#evntEdtBtns {
  margin-top: 30px;
}

#evntEdtBtns .tinybutton a{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  margin-right: 10px;
}

#evntEdtBtns .tinybutton a:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.tinybutton a, .tinybutton a:hover {
	color: #fff;
	text-decoration: none;
}






