/**
 * This file is part of Timescape developed by Wolf Maul and Semandra Inc. 
 * 2014-15 - http://semandra.com.
 * 
 * Timescape is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Timescape is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Timescape.  If not, see <http://www.gnu.org/licenses/>.
*/

#Timescape .Timescape_active {
  border: 1px solid #333;
  height: 700px;
  min-width: 400px;
 font-size: 14px;
}

#Timescape .timeline-band-0 .timeline-ether-bg {
    background-color: #f9f9f9;
}

#Timescape .timeline-band-layer-inner {
	/*margin-top: 20px
*/
}

.timeview_checkboxes .form-item {
    display: inline;
    width: auto;
    padding: 0 40px 0 0;
}

#timeview_controls {
    margin: -20px 0 0 0;
    text-decoration: none;
    font-size: 0.5em;
    text-align: left;
}

#timeview_controls a {
    padding: 0 20px 0 0;
}

.timeline-event-bubble-body td {
    padding: 0 !important;
}



/* =====================    Timeline Legend     ========================== */

#timelineLegend {
    height: 200px;
    margin-left: 400px;
    margin-top: -70px;
	background-color: #fff;
	padding: 0 0 0 30px;
}
#timelineLegend #legendCategoryWriting {
	color: #009200 
}
#timelineLegend #legendCategoryLetter {
	color: #3D00BC
}
#timelineLegend #legendCategoryArt {
	color: #A40404 
}
#timelineLegend #legendCategoryLife {
	color: #1096CF
}

#timelineLegend p{
	text-transform: uppercase;
	color: #555;	
}
#timelineDots p {
	font-size: 12px;
	margin: 2px;
	text-transform:inherit;
}

#timelineCategories, #timelineDots {
	float: left;
	padding: 10px;
	margin-top: 20px;
}
#timelineDots{
    border: 1px solid #ccc;
    margin: 10px 0 0 20px;
    
}

#timelineDots .iconWrapper{
	width:45px;
}
#timelineDots td {
	padding-right: 5px;
}

#timelineDots td.icon div{
	margin: auto;
}

#timelineLegend .legendItems{
	height: 10px;
    min-width: 0;
    width: 6px;
	border-color: #444;
	background-image: linear-gradient(180deg, rgba(30, 30, 30, 0.3) 0%, rgba(30, 30, 30, 0.3) 100%);
	
}
#timelineLegend .legendItems.startKnown{
	 border-radius: 5px 0 0 5px;
    border-width: 6px;
	width: 0;
	border: solid #333;
	
}
#timelineLegend .legendItems.endKnown{
	 border-radius: 0 5px 5px 0;
    border-width: 6px;
	width: 0;
	border: solid #333;
}
#timelineLegend .legendItems.endUnknown{
	border-radius: 0 5px 5px 0;
}
#timelineLegend .legendItems.startUnknown{
	border-radius: 5px 0 0 5px;
}
.timeline-event-tape.tapeLayer0.singleDateEvent.between {
    background-image: url("images/dp-grey-bg.png");
}
#timelineLegend .timeline-event-tape{
	background-color: #fff;
	position:relative;
}






