/**
 * This file is part of Timescape developed by Wolf Maul and Semandra Inc. 
 * 2014-15 - http://semandra.com.
 * 
 * Timescape is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Timescape is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Timescape.  If not, see <http://www.gnu.org/licenses/>.
*/

#Timescape {
	clear: both;
}

#Timescape .Timescape_active {
 /*border: 1px solid #333;
  height: 200px;
   min-width: 400px;
 font-size: 14px;
 width: 400px;//
}

#Timescape .timeline-band-0 .timeline-ether-bg {
	background-color: #f9f9f9;
}

#Timescape .timeline-band-layer-inner {
	/*margin-top: 20px
*/
}

.timeview_checkboxes .form-item {
    display: inline;
    width: auto;
    padding: 0 40px 0 0;
}

#timeview_controls {
    margin: -20px 0 0 0;
    text-decoration: none;
    font-size: 0.5em;
    text-align: left;
}

#timeview_controls a {
    padding: 0 20px 0 0;
}

.timeline-event-bubble-body td {
    padding: 0 !important;
}

/* =====================    Timescape Administration Form    ========================== */











